<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('share/head'); %>
        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/checkout/">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>

<body class="bg-body-tertiary">


    <div class="header">
        <%- include('share/navbar'); %>
    </div>
    <div class="row" style="padding: 0px; width: 100%; height: 100%; margin: 0px;">
        <div class="col-lg-3 row" style="height: 100%; background-color: rgba(179, 177, 177, 0.85); margin: 0px;">
            <div class="col-7"></div>
            <div class="mt-5 col-5">
                <%- include('sidebar')%>
            </div>
        </div>
        <div class="col-lg-9"
            style="height: 100%; background-color: rgba(153, 155, 153, 0.692); color: white; padding: 0px 100px 0px 60px;">
            <div class="col-10">
                <div class="mt-5">
                    <div>
                        <h4
                            style="background-color: gray; color: white; padding: 20px; border-radius: 22px 22px 0px 0px; margin: 0px;">
                            交換清單
                        </h4>
                    </div>
                    <div style="background-color: rgb(189, 131, 142); border-radius: 0px 0px 22px 22px; margin: 0px;"
                        class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical" style="width: 100px;">
                            <button class="nav-link active myproduct" id="v-pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                                aria-selected="true"
                                style="border-radius: 0px; color: brown; background-color: rgb(189, 131, 142); border-bottom: 2px solid white; border-radius: 0px; padding: 10px; border-bottom-color: brown;">我想交換</button>
                            <button class="nav-link myproduct" id="v-pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-profile" type="button" role="tab"
                                aria-controls="v-pills-profile" aria-selected="false"
                                style="border-radius: 0px; color: brown; background-color: rgb(189, 131, 142); border-bottom: 2px solid white; border-radius: 0px; padding: 10px; border-bottom-color: brown;">與我交換</button>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent" style="width:100%">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                aria-labelledby="v-pills-home-tab"
                                style="height: 550px; overflow: auto; overflow-x: clip; width:100%">
                                <% if(iwant=="nothing" ){%>
                                    <div style="font-size: 100px;opacity: 0.3;">目前並無交換商品</div>
                                    <%}else{%>
                                        <!-- <hr> -->
                                        <% for(var i=0; i<iwant.length; i++) {%>
                                            <div class="row mb-3" style="margin: 10px;">
                                                <div class="col-5">
                                                    <p width="100%" height="100%"
                                                        style="text-align: center; background-color: pink; padding: 8px; margin: 20px 0px 0px 0px;">
                                                        <%= iwant[i].BWC_user_name%>
                                                    </p>
                                                    <div style=" width: 100%; height: 200px;">
                                                        <img style="padding-top: 0px;
                                                        width: 100%;
                                                        height: 100%;
                                                        object-fit: contain;
                                                        border: 1px solid #d6d4d4;" src="<%= iwant[i].BWC_product_image%>">
                                                    </div>
                                                    <p width="100%"
                                                        style="text-align: center; background-color: #d6d4d4; padding: 8px;">
                                                        <%= iwant[i].BWC_product_name%>
                                                    </p>
                                                </div>
                                                <div class="col-2">
                                                    <div class="text-secondary">
                                                        <p
                                                            style="text-align: center; position: relative; margin-top: 40px;">
                                                            <i class="bi bi-arrow-right" style="font-size: 100px;">
                                                            </i>
                                                        </p>
                                                        <p style="text-align: center; position: relative; margin-top: -45px; font-size: 25px;"
                                                            class="fw-bolder">想交換</p>
                                                    </div>
                                                </div>
                                                <div class="col-5">
                                                    <p width="100%" height="100%"
                                                        style="text-align: center; background-color: pink; padding: 8px; margin: 20px 0px 0px 0px;">
                                                        <%= iwant[i].WC_user_name%>
                                                    </p>
                                                    <div style=" width: 100%; height: 200px;">
                                                        <img style="padding-top: 0px;
                                                        width: 100%;
                                                        height: 100%;
                                                        object-fit: contain;
                                                        border: 1px solid #d6d4d4;" src="<%= iwant[i].WC_product_image%>">
                                                    </div>
                                                    <p width="100%"
                                                        style="text-align: center; background-color: #d6d4d4; padding: 8px;">
                                                        <%= iwant[i].WC_product_name%>
                                                    </p>
                                                </div>
                                            </div>
                                            <%}%>
                                                <%}%>
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab"
                                style="height: 550px; overflow: auto; overflow-x: clip;">
                                <% if(withme=="nothing" ){%>
                                    <div style="font-size: 100px;opacity: 0.3;">目前並無交換商品</div>
                                    <%}else{%>
                                        <!-- <hr> -->
                                        <% for(var i=0; i<withme.length; i++) {%>
                                            <div class="row mb-3" style="margin: 10px;">
                                                <div class="col-5">
                                                    <p width="100%" height="100%"
                                                        style="text-align: center; background-color: pink; padding: 8px; margin: 20px 0px 0px 0px;">
                                                        <%= withme[i].BWC_user_name%>
                                                    </p>
                                                    <div style=" width: 100%; height: 200px;">
                                                        <img style="padding-top: 0px;
                                                        width: 100%;
                                                        height: 100%;
                                                        object-fit: contain;
                                                        border: 1px solid #d6d4d4;" src="<%= withme[i].BWC_product_image%>">
                                                    </div>
                                                    <p width="100%"
                                                        style="text-align: center; background-color: #d6d4d4; padding: 8px;">
                                                        <%= withme[i].BWC_product_name%>
                                                    </p>
                                                </div>
                                                <div class="col-2">
                                                    <div class="text-secondary">
                                                        <p
                                                            style="text-align: center; margin-top: 40px;">
                                                            <i class="bi bi-arrow-right" style="font-size: 100px;">
                                                            </i>
                                                        </p>
                                                        <p style="text-align: center; position: relative; margin-top: -45px; font-size: 25px;"
                                                            class="fw-bolder">想交換</p>
                                                    </div>
                                                </div>
                                                <div class="col-5">
                                                    <p width="100%" height="100%"
                                                        style="text-align: center; background-color: pink; padding: 8px; margin: 20px 0px 0px 0px;">
                                                        <%= withme[i].WC_user_name%>
                                                    </p>
                                                    <div style=" width: 100%; height: 200px;">
                                                        <img style="padding-top: 0px;
                                                        width: 100%;
                                                        height: 100%;
                                                        object-fit: contain;
                                                        border: 1px solid #d6d4d4;" src="<%= withme[i].WC_product_image%>">
                                                    </div>
                                                    <p width="100%"
                                                        style="text-align: center; background-color: #d6d4d4; padding: 8px;">
                                                        <%= withme[i].WC_product_name%>
                                                    </p>
                                                </div>
                                                <div class="col-12">
                                                    <form id="myForm" action="/member/<%=user%>/iwant" method="post">
                                                        <input type="hidden" name="WC_user_name"
                                                            value="<%= withme[i].WC_user_name%>">
                                                        <input type="hidden" name="WC_product_name"
                                                            value="<%= withme[i].WC_product_name%>">
                                                        <input type="hidden" name="BWC_user_name"
                                                            value="<%= withme[i].BWC_user_name%>">
                                                        <input type="hidden" name="BWC_product_name"
                                                            value="<%= withme[i].BWC_product_name%>">
                                                        <input type="hidden" name="id" value="<%= withme[i].id%>">
                                                        <input type="submit" value="同意交換" onclick="judge(event)" class="btn btn-secondary" style="margin: 10px;">
                                                    </form>
                                                </div>
                                            </div>
                                            <%}%>
                                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>