<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <%- include('share/head'); %>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/checkout/">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


</head>

<body class="bg-body-tertiary">
  <div class="header">
    <%- include('share/navbar'); %>
  </div>

  <div class="row" style="padding: 0px; width: 100%; height: 100%; margin: 0px;">
    <div class="col-lg-3 row" style="height: 100%; background-color: rgba(179, 177, 177, 0.85); margin: 0px;">
      <div class="col-7"></div>
      <div class="mt-5 col-5">
        <%- include('sidebar')%>
      </div>
    </div>
    <div class="col-lg-9"
      style="height: 100%; background-color: rgba(153, 155, 153, 0.692); color: white; padding: 0px 100px 0px 60px;">
      <div class="col-10">
        <div class="mt-5">
          <div>
            <h4
              style="background-color: gray; color: white; padding: 20px; border-radius: 22px 22px 0px 0px; margin: 0px;">
              我的物品
            </h4>
          </div>
          <div style="background-color: rgb(189, 131, 142); border-radius: 0px 0px 22px 22px; margin: 0px;"
            class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="width: 100px;">
              <button class="nav-link active myproduct" id="v-pills-home-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                aria-selected="true"
                style="border-radius: 0px; color: brown; background-color: rgb(189, 131, 142); border-bottom: 2px solid white; border-radius: 0px; padding: 10px; border-bottom-color: brown;">已上架</button>
              <button class="nav-link myproduct" id="v-pills-profile-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                aria-selected="false"
                style="border-radius: 0px; color: brown; background-color: rgb(189, 131, 142); border-bottom: 2px solid white; border-radius: 0px; padding: 10px; border-bottom-color: brown;">尚未上架</button>
            </div>
            <div class="tab-content" id="v-pills-tabContent" style="width:100%">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                aria-labelledby="v-pills-home-tab" style="height: 550px; width:100%; overflow: auto; overflow-x: clip;">
                <% if(product=="nothing" ){%>
                  <div style="font-size: 100px;opacity: 0.3;">目前並無商品</div>
                  <%}else{%>
                    <% for(var i=0; i<product.length; i++) {%>
                      <div class="row">
                        <div class="col-3">
                          <p class="mb-3 mt-3" width="100%">
                            <img src="<%= product[i].product_image%>" width="100%" height="150"
                              style="object-fit:contain; background-color: rgba(207, 199, 199, 0.959)">
                          </p>
                        </div>
                        <div class="col-6">
                          <div class="mt-3 h3">
                            <%= product[i].product_name%>
                          </div>
                          <div>
                            <%= product[i].product_detail%>
                          </div>
                          <div>
                            地點：
                            <%= product[i].city%>
                          </div>
                          <div>
                            上傳時間：
                            <%= product[i].lunch_date_formatted %>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <%}%>
                        <%}%>
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
                style="height: 550px; width: 100%; overflow: auto; overflow-x: clip;">
                <div class="d-flex justify-content-end" style="padding-right: 20px;">
                  <button class="mt-3 btn btn-secondary mb-1" id="plus" onclick="apple()">上傳</button>
                </div>
                <hr>
                <% if(MYproduct=="nothing" ){%>
                  <div style="font-size: 100px;opacity: 0.3;">目前並無商品</div>
                  <%}else{%>
                    <% for(var i=0; i<MYproduct.length; i++) {%>
                      <div class="row">
                        <div class="col-3">
                          <p class="mb-3 mt-3" width="100%">
                            <img src="<%= MYproduct[i].MYproductimage%>" width="100%" height="150"
                              style="object-fit:contain; background-color: rgba(207, 199, 199, 0.959)">
                          </p>
                        </div>
                        <div class="col-6">
                          <div class="mt-3 h3">
                            <%= MYproduct[i].MYproductname%>
                          </div>
                          <div>
                            <%= MYproduct[i].MYproductdetail%>
                          </div>
                          <div>
                            地點：
                            <%= MYproduct[i].MYproductcity%>
                          </div>
                          <div>
                            上傳時間：
                            <%= MYproduct[i].lunch_date_formatted %>
                          </div>
                        </div>
                        <div class="col-3 mt-3">
                          <form action="/member/<%= user %>/MYproduct" method="post" onsubmit="return confirmSubmit()">
                            <input type="hidden" name="MYproductname" value="<%= MYproduct[i].MYproductname%>">
                            <input type="hidden" name="MYproductimage" value="<%= MYproduct[i].MYproductimage%>">
                            <input type="hidden" name="MYproductdetail" value="<%= MYproduct[i].MYproductdetail%>">
                            <input type="hidden" name="MYproductcity" value="<%= MYproduct[i].MYproductcity%>">
                            <input type="hidden" name="MYproductid" value="<%= MYproduct[i].MYproductid%>">
                            <input type="submit" value="上架" class="btn-sm btn btn-secondary mt-3">
                          </form>
                          <div>
                            <button class="btn-sm mt-3 btn btn-secondary mb-1" id="updproduct" onclick="update(<%= MYproduct[i].MYproductid %>)">
                              編輯
                            </button>
                          </div>
                          <div>
                            <button class="btn-sm btn btn-danger mt-3" onclick="deldata(<%= MYproduct[i].MYproductid %>)">
                              刪除
                            </button>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <%}%>
                        <%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>