<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <%- include('share/head'); %>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/checkout/">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>

<body class="bg-body-tertiary">
  <div class="header">
    <%- include('share/navbar'); %>
  </div>
  <div class="row" style="padding: 0px; width: 100%; height: 100%; margin: 0px;">
    <div class="col-lg-3 row" style="height: 100%; background-color: rgba(179, 177, 177, 0.85); margin: 0px;">
      <div class="col-7"></div>
      <div class="mt-5 col-5">
        <%- include('sidebar')%>
      </div>
    </div>
    <div class="col-lg-9"
      style="height: 100%; background-color: rgba(153, 155, 153, 0.692); color: white; padding: 0px 100px 0px 60px;">
      <div class="col-10">
        <div class="mt-5">
          <div>
            <h4
              style="background-color: gray; color: white; padding: 20px; border-radius: 22px 22px 0px 0px; margin: 0px;">
              變更密碼
            </h4>
          </div>
          <div style="background-color: rgb(189, 131, 142); border-radius: 0px 0px 22px 22px; margin: 0px;" class="row">
            <form class="needs-validation" action="/member/<%= user %>/password" method="post">
              <div class="row g-3">

                <div class="col-8">
                  <label for="oldPassword" class="form-label">密碼</label>
                  <div class="input-group has-validation">
                    <input type="password" class="form-control" name="oldPassword">
                  </div>
                </div>

                <div class="col-8">
                  <input type="hidden" name="username" value="<%= user %>">
                  <label for="password" class="form-label">新密碼</label>
                  <input type="password" class="form-control" name="Password">
                </div>

                <!-- <div class="col-8">
                <label for="address" class="form-label">確認密碼</label>
                <input type="text" class="form-control" id="newpassword" name="okPassword">
              </div> -->
              </div>


              <hr class="col-8">

              <div class="col-12">
                <button class=" w-20 btn btn-secondary btn-lg mb-5" type="submit">確認更改</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    <br><br><br><br><br><br><br><br><br><br>
</body>

</html>