<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('share/head'); %>
        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/checkout/">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body class="bg-body-tertiary">
    <div class="header">
        <%- include('share/navbar'); %>
    </div>

    <div class="row" style="padding: 0px; width: 100%; height: 100%; margin: 0px;">
        <div class="col-lg-3 row" style="height: 100%; background-color: rgba(179, 177, 177, 0.85); margin: 0px;">
            <div class="col-7"></div>
            <div class="mt-5 col-5  ">
                <%- include('sidebar')%>
            </div>
        </div>
        <div class="col-lg-9"
            style="height: 100%; background-color: rgba(153, 155, 153, 0.692); color: white; padding: 0px 100px 0px 60px;">
            <div class="col-10">
                <div class="mt-5">
                    <div>
                        <h4
                            style="background-color: gray; color: white; padding: 20px; border-radius: 22px 22px 0px 0px; margin: 0px;">
                            個人資料
                        </h4>
                    </div>
                    <div style="background-color: rgb(189, 131, 142); border-radius: 0px 0px 22px 22px; margin: 0px;"
                        class="row">
                        <div class="col-8">
                            <table style="border-collapse:separate; border-spacing:13px; width: 100%;">
                                <tr>
                                    <td>姓名：</td>
                                    <td>
                                        <p style="display: initial;">
                                            <%= personal[0].nickname;%>
                                        </p>
                                        <!-- <input type="hidden" name="username"> -->
                                        <input type="text" style="display: none; width: 100%;" class="form-control"
                                            name="name">
                                    </td>
                                    <td style="width: 0px;">
                                        <input type="button" value="更改" class="w-20 btn btn-secondary btn-sm">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        使用者姓名：
                                    </td>
                                    <td>
                                        <p style="display: initial;">
                                            <%= personal[0].username%>
                                        </p>
                                    </td>
                                    <td>
                                        <!-- <input type="button" value="更改" class="w-20 btn btn-secondary btn-sm" data-group="B"> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>手機：</td>
                                    <td>
                                        <p style="display: initial;">
                                            <%= personal[0].phone%>
                                        </p>
                                        <!-- <input type="hidden" name="username"> -->
                                        <input type="text" style="display: none; width: 100%;" class="form-control"
                                            name="phone">
                                    </td>
                                    <td style="width: 0px;">
                                        <input type="button" value="更改" class="w-20 btn btn-secondary btn-sm">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        信箱：
                                    </td>
                                    <td>
                                        <p style="display: initial;">
                                            <%= personal[0].mail%>
                                        </p>
                                        <input type="text" style="display: none; width: 100%;" class="form-control"
                                            name="mail">
                                    </td>
                                    <td style="width: 0px;">
                                        <input type="button" value="更改" class="w-20 btn btn-secondary btn-sm">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        性別：
                                    </td>
                                    <td>
                                        <p style="display: initial;">
                                            <%= personal[0].gender%>
                                        </p>
                                        <div id="gd" style="display: none">
                                            <input type="radio" name="gender" value="男"> <span>男</span>
                                            <input type="radio" name="gender" value="女"> <span>女</span>
                                            <input type="radio" name="gender" value="其他"> <span>其他</span>
                                        </div>
                                    </td>
                                    <td style="width: 0px;">
                                        <input type="button" value="更改" class="w-20 btn btn-secondary btn-sm">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        生日：
                                    </td>
                                    <td>
                                        <p style="display: initial;">
                                            <%= personal[0].birth%>
                                        </p>
                                        <div id="bd" style="display: none">

                                            <select class="form-select" id="year" style="width: 35%;height: 34.09px ;">
                                            </select>

                                            <select class="form-select" id="month" style="width: 25%;height: 34.09px ;">
                                            </select>

                                            <select class="form-select" id="day" style="width: 25%;height: 34.09px ;">
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width: 0px;">
                                        <input type="button" value="更改" class="w-20 btn btn-secondary btn-sm">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-4" style="padding: 25px 50px;">
                            <div class="headsho">
                                <div style="width: 220px; height: 220px; padding: 20px;">
                                    <%if(personal[0].headshot === null){%>
                                        <img src="/image/member/demo.png"
                                            style="width: 100%; height: 100%; object-fit: cover;" class="chimage">
                                        <%}else if (personal[0].headshot.length < 20) {%>
                                            <img src="/image/member/upload/headshot/<%=personal[0].headshot%>"
                                                style="width: 100%; height: 100%; object-fit: cover;" class="chimage">
                                            <%}else{%>
                                                <img src="<%=personal[0].headshot%>"
                                                style="width: 100%; height: 100%; object-fit: cover;" class="chimage">
                                                <%}%>
                                </div>
                                <div>
                                    <label for="productimage" class="file-button" style="border: none; color: black; background-color: white;
                                            border-radius: 5px;">
                                        選擇文件
                                        <input type="file" id="productimage" name="productimage" style="display: none;">
                                    </label>
                                    <input type="button" value="儲存" class="w-20 btn btn-secondary btn-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>